<!DOCTYPE html>
<html lang="pt-BR>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styledescricao.css" />


    <title>Detalhes</title>
</head>
<body>
    <nav>
         <section>
          <a id="voltar" href="/voltar">Voltar</a>
         </section>
    </nav>
    <Header>
<h1 id="detalhes">Detalhes</h1>
</Header>

<section class="cards">

 <div> 
<img src="<%= instru.imagem%>" alt="">
</div>

<div id="produto">
    <h1>Produto: <%= instru.nome%></h1>
<p>Cor: <%= instru.cor%></p>
<p>Data de fabricação: <%= instru.DataDeFabricacao%></p>
<p>Característica: <%= instru.caracteristica%></p>
<p>Valor: <%= instru.valor%></p>
<p>Forma de Pagamento: <%= instru.FormaDePagamento%></p>

</div>


  </section>











  <footer>
    <p>
      <a href="http://www.blueedtech.com.br" target="_blank"
        >www.blueedtech.com.br</a
      >
      <br />-Todos os direitos reservados.
    </p>
  </footer>


</body>
</html>