
    <%- include('./components/head' ) %>
 

  
    <nav>
      <%- include('./components/nav') %>
    </nav>

    <h1 id="h1">Mundo dos instrumentos, o maior site de vendas do Brasil!</h1>
    <header>
     
    </header>

    <main>
      <h2 id="instrum">Instrumentos Disponíveis</h2>

      <section id="cards">
        <% Instrumento.forEach( (instru) =>{ %>
        <div class="card">
          <h1 id="Cards"><%=instru.nome%></h1>
          <img src="<%=instru.imagem%>" alt="imagem" />
          <p><%=instru.valor%></p>

          
          <a id="instru" href="/getById/<%=instru.id%>/put">Atualizar</a>
          <a id="instru" href="/getById/<%=instru.id%>/delete">Remover</a>
        </div>

        <% })%>
      </section>
    
    </main>


    <% if (instruPut != null) {%>
        <%- include('./components/modalPut') %>
    <% } %>

    <% if (instruDel != null) {%>
      <%- include('./components/modalDel') %>
  <% } %>



   <footer>
      <%- include('./components/footer') %>
    
    </footer>

